<p>Since the dawn of time man has strived to hit tiny balls with something that looks like a waffle.</p>
<p>After millenia spent hitting tiny balls with hands some 12th century frenchman finally realized the dream.  This is real tennis, the sport of kings (according to wikipedia at least two kings were posioned in circumstances involving the sport) </p>
<p>If you have come here for the rules, simply look within yourself, you will find they are primordial, intrinsic to the human character.</p>