
  <h1>Real Tennis: the sport of kings</h1>

  <%= display_error %>
  <%= button_to "Start New Game", new_match_path, method: "get" %>


  <% if current_user %>
      <%= display_error %>
      <%= button_to "Start New Game", new_match_path, method: "get" %>
  <% end %>
