<div class="container">
  <p>Your Score</p>
   <div class="player_score">a</div>
  <p>Opponent Score</p>
   <div class="comp_score">b</div>
  <p>Number of wins</p>
   <div class="player_games_won">c</div>
  <p>Number of losses</p>
   <div class="comp_games_won">d</div>

 <div class="narration"></div>
 <div id="choices">
   <button class="choice" id="railroad">railroad</button>
   <button class="choice" id="bobble">bobble</button>
   <button class="choice" id="pique">pique</button>
   <button class="choice" id="boomerang">boomerang</button>
   <button class="choice" id="giraffe">giraffe</button>
  </div>

  <form id="new_game_button" action = "/match" method = "POST">
    <p><input type = "submit" value = "Try Again"></p>
  </form>

</div>
